<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/car-page.css" />
  </head>
  <body>
    <header class="header mg-bottom-md">
      <div class="logo-contanier">
        <p><a href="index.html" class="logo">Home</a></p>
      </div>

      <nav class="nav">
        <p><a href="aboutus.html" class="nav__item">About Us</a></p>
      </nav>
    </header>

    <main class="main-frame">
      <div class="car">
        <div class="img-container">
          <img
            class="car__img"
            alt="image of an Lamborghini"
            src="{%CARIMAGE%}"
          />
        </div>

        <div class="car__info">
          <div class="price-container mg-bottom-md">
            <h1 class="car__name">{%CARMODEL%}</h1>
            <span class="car__price">{%CARPRICE%}$</span>
          </div>
          <article class="car__description">
            <p class="paragraph">{%DESCRIPTION%}</p>
          </article>
        </div>
      </div>
    </main>

    <footer class="footer">
      <p class="contact-us">Contant Us:</p>
      <nav class="footer__nav">
        <p>
          <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
        </p>
        <p>
          <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
        </p>
        <p>
          <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        </p>
      </nav>
    </footer>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
